ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 0 0 0;
}
li {
    margin: 10px;
}
.card {
    background-color: #2789a2;
    padding: 1rem;
    border-radius: 5px;
    flex: 0 1 calc(25% - 1em);
}
.card-container {
    width: 100%;
    height: auto;
}
.card-title {
    padding: .5rem;
    font-weight: 600;
    text-align: center;
}
.card-subtitle {
    padding: 0 .5rem;
    line-height: 1.3;
    font-size: 15px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    li {
        padding: 10px 0;
    }
}