.projects {
    padding-top: .5rem;
    background-color: #1c1c1c;
    color: #ddd;
    height: 100vh;
}
.projects h1 {
    text-align: center;
    padding: 4rem 0;
}
.projects h1::after {
    content: '';
    background: #15cdfc;
    width: 2em;
    height: 3px;
    position: absolute;
    left: 50%;
    transform: translateY(45px) translate(-50%);
    transition: width 0.3s;
}
.projects .padding-2 {
    padding-bottom: 2rem;
}
.justify-center {
    justify-content: center;
}
.projects h3 {
    margin: 15px 0 0 0;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}
.projects .centered {
    margin: 0 auto;
}
.projects .card-list{
    list-style: none;
    display: block;
    /* justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap; */
    padding: 2rem 0 0 0;
}
.projects .card-list li {
    margin: 10px;
}
.projects .card {
    background-color: #2789a2;
    padding: .5rem;
    border-radius: 5px;
    /* flex: 0 1 calc(25% - 1em); */
    /* height: 250px; */
}
.projects .info-group-card {
    display: flex;
    align-items: center;
}

.projects .card-subtitle {
    max-width: 230px;
}
.projects .card-subtitle p {
    text-align: right;
}
.projects .card-title {
    text-align: right;
}

@media screen and (max-width: 768px) {
    .about {
        padding-top: 1rem;
    }
    .projects {
        height: unset;
    }
    .project-col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .project-col-6 p {
        text-align: center;
    }
    .projects .info-group-card {
        display: block;
    }
    .projects .card-subtitle p {
        text-align: center;
    }
    .projects .card-title {
        text-align: center;
    }
}
