.projects {
    padding-top: .5rem;
    background-color: #1c1c1c;
    color: #ddd;
}
.projects h1 {
    text-align: center;
    padding: 4rem 0;
}
.projects h1::after {
    content: '';
    background: #15cdfc;
    width: 2em;
    height: 3px;
    position: absolute;
    left: 50%;
    transform: translateY(45px) translate(-50%);
    transition: width 0.3s;
}
.projects .padding-2 {
    padding-bottom: 2rem;
}
/* .projects .card-list {
    justify-content: start;
} */
.justify-center {
    justify-content: center;
}
.projects h3 {
    margin: 15px 0 0 0;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}
.projects .centered {
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .about {
        padding-top: 1rem;
    }
    .project-col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .project-col-6 p {
        text-align: center;
    }
}